
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Vampiro+One&display=swap');

*{
    border: 1px;
    border-color: black;
    border-style: solid;
}

h1{
    font-family: 'Vampiro One', cursive;
    font-size: 55px;
    
}

body{
    background-image: url("fon.jpg");
}

div{
    text-align: center;
    border: 10px;
}

h2{
    font-family: 'Lobster', cursive;
}

.tabla{
    display: table;
    
}
.fila{
    display: table-row;
}
.celda{
    display: table-cell;
}